body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
	--pink: rgb(215,124,167);
	--darkgray: rgb(37,40,45);
}

body {
	background-color: rgb(43,46,53);
	border-radius: 10px;
	color: white;
	font-family: var(--bs-font-sans-serif);
}
aside#sidebar {
	padding: 24px;
	height: 100vh;
	display: none;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 4fr 4fr 3fr 2fr;
}
@media (min-width: 1200px) {
	aside#sidebar {
		display: grid;
	}
}
@media (min-width: 1200px) {
	aside#sidebar {
		padding: 3em;
	}
}

#logo {
	border-radius: 10px 0px 10px 0px;
	font-size: 2em;
	font-weight: bold;
	width: 2em;
	height: 2em;
	padding-bottom: 1em;
}
/* ========== User profile card ============ */
#user-profile {
	padding-top: 3em;
	padding-bottom: 1em;
}

#user-profile img {
	border-radius: 50%;
	padding: 0;
}

#user-profile p {
	margin-bottom: 0;
	margin-top: 10px;
	font-weight: bold;
	font-size: 1em;
	display: none
}
#user-profile a {
	text-decoration: none;
	color: white;
	font-size: .8em;
	display: none;
}
@media (min-width: 1200px) {
	#user-profile p {
		display: initial;
	}
	#user-profle a {
		display: inline;
	}
}
@media (min-width: 1200px) {
	#user-profile p {
		font-size: 1.4em;
	}
	#user-profile a {
		font-size: 1.2em;
	}
}
#user-profile a:hover {
	text-decoration: underline;
}
#user-profile .col-lg-3 {
	padding: 0;
}
/* =============== Side nav =============== */
#side-nav a {
	text-decoration: none;
	color: darkgray;
	font-weight: bold;
	padding: 1em 0;
}

#side-nav a.active,
#side-nav a:hover,
a#logout {
	color: white;
}

#pro-card {
	background-color: rgb(65,67,74);
	border-radius: 10px;
	display: flex;
	flex-direction: row;
	margin-top: 3em;
}
@media (min-width: 576px) {
	#pro-card {
		margin-top: 4em;
	}
}
@media (min-width: 768px) {
	#pro-card {
		margin-top: 5em;
	}
}
@media (min-width: 1200px) {
	#pro-card {
		margin-top: 6em;
	}
}
#pro-card svg {
	height: 50px;
	width: auto;
	margin: 1em 0 auto 1em;
	color: var(--pink);
	display: none;
}
#pro-card button {
	margin-top: 1em;
}
#pro-card .card-body p{
	display: none;
}
@media (min-width: 1200px) {
	#pro-card .svg,
	#pro-card .card-body p{
		display: initial;
	}
}

/* =========== Main content ============== */
main#main {
	background-color: var(--darkgray);
	border-radius: 50px;
	height: 95vh;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 2fr 1fr 17fr;
}

@media (min-width: 768px) {
	main#main {
		padding: 24px;
		margin-top: 1.5rem;
	}
}
@media (min-width: 1200px) {
	main#main {
		padding: 3em;
	}
}
/* ======= Shared users =========== */
@media (min-width: 576px) {
	#shared-users {
		display: block;
	}
}
#shared-users {
	display: none;
}
#shared-users img {
	border-radius: 50%;
	border: 5px solid var(--darkgray);
	position: absolute;
	height: 60px;
	width: auto;
	float: right;
}
#shared-users img:nth-child(1) {
	right: 155px;
	z-index: 3
}
#shared-users img:nth-child(2) {
	right: 130px;
	z-index: 2
}
#shared-users img:nth-child(3) {
	right: 105px;
	z-index: 1
}
#shared-users img:nth-child(4) {
	right: 80px;
	z-index: 0
}
#add-shared-user {
	color: var(--pink);
	height: 50px;
	width: 50px;
	position: absolute;
	right: 30px;
	margin-top: 5px;
}
/* ========= Top navigation menu ========== */
#top-nav a {
	text-decoration: none;
	color: lightgray;
	margin: 0px 10px; 
	font-weight: bold;
}
@media (min-width: 768px) {
	#top-nav {
		margin-left: -20px;
	}
	#top-nav a {
		margin: 0px 15px; 
	}
}
@media (min-width: 1200px) {
	#top-nav a {
		margin: 0px 20px; 
	}
}
#top-nav a:hover,
#top-nav a.active {
	border-bottom: 2px solid var(--pink);
}
.dropdown {
	display: inline;
}
#dropdownButton {
	color: white;
}
.dropdown-menu {
	background-color: var(--darkgray);
}
.dropdown-menu li:nth-child(3) {
	padding: 0 20px;
}

/* =========== Grid elements ============ */
#content {
	position: relative;
	overflow: scroll;
	margin-top: 20px;
}
#content div {
	border-radius: 10px;
	font-weight: bold;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	margin-bottom: 20px;
}
@media (min-width: 576px) {
	#content {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
		grid-gap: 20px;
	}
	#content div {
		margin-bottom: initial;
	}
}
@media (min-width: 768px) {
	#content {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
		grid-gap: 10px;
	}
}
@media (min-width: 1200px) {
	#content {
		display: grid;
		grid-template-columns: 4fr 3fr 3fr;
		grid-template-rows: 1fr 1fr;
		grid-gap: 20px;
	}
	#content div {
		margin-bottom: initial;
	}
	#green {
		grid-row: 1/3;
	}
	#green p {
		font-size: 36px;
	}
	#blue {
		grid-column: 2/3;
	}
	#pink {
		grid-column: 3/4;
	}
	#gray {
		grid-column: 2/4;
	}
}
#green {
	background-color: rgb(47,65,53);
}
#green p{
	margin: 20px;
	font-size: 24px;
}
#green svg {
	margin: 20px;
}
#blue svg {
	position: absolute;
	right: 0;
	bottom: 0;
	margin: 20px;
}
#green svg,
#blue svg {
	width: 45px;
	background-color: var(--pink);
	border: 0px solid var(--pink);
	border-radius: 50%;
}
@media (min-width: 768px) {
	#green svg,
	#blue svg {
		width: 55px;
	}
}
@media (min-width: 1200px) {
	#green svg,
	#blue svg {
		width: 65px;
	}
}
#blue {
	background-color: rgb(47,55,120);
	position: relative;
}
#pink {
	background-color: var(--pink);
}
#blue p,
#pink p {
	margin: 20px;
	font-size: 24px;
}
#gray {
	background-color: rgb(127,132,132);
}
#gray p {
	margin: 20px;
	font-size: 36px;
}
#gray button {
	margin: 20px;
	width: 150px;
	color: rgb(127,132,132);
}

/* =========== Header =========== */
h1#title {
	font-weight: bolder;
}
#title-div {
	width: 80%;
}
@media (min-width: 576px) {
	#title-div {
		width: 70%;
	}
}
@media (min-width: 768px) {
	#title-div {
		width: 50%;
	}
}
@media (min-width: 1200px) {
	#title-div {
		width: 50%;
	}
}
/* =========== Buttons =========== */
.btn-primary,
.btn-primary:focus,
.btn-primary:hover {
	background-color: var(--pink);
	border-color: var(--pink);
}
.btn:focus {
	box-shadow: none;
}
#add-button {
	display: none;
	position: absolute;
	bottom: 18px;
	width: 65px;
	color: var(--pink);
	background-color: white;
	left: 23%;
	padding: 0;
	border-radius: 50%;
}
@media (min-width: 576px) {
	#add-button {
		display: block;
	}
}

#user-button {
	color: white;
	float: right;
	width: auto;
	padding: 0;
}
#user-button-div {
	width: 20%;
}
@media (min-width: 576px) {
	#user-button-div {
		width: 30%;
	}
}
/* ==== Badge ======= */
.badge {
	background-color: var(--pink);
	float: right;
	display: none;
	font-size: 10px;
}
@media (min-width: 768px) {
	.badge {
		display: inline;
	}
}
@media (min-width: 1200px) {
	.badge {
		display: initial;
	}
}
/* ======== Hide elements =========== */
/*@media (min-width: 576px) {
}
@media (min-width: 768px) {
}*/